.Trending{
    width:100%;
    max-width: 1024px;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.TrendingContainer{
    display:flex;
    justify-content: space-between;
    gap:10px;
}
.TrendingImg1{
    width: 475px;
    height: 300px;
    display: block;
    background-position: 50% 50%;
    cursor: pointer;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    transition: transform .5s ease;
    background-color: rgba(0,0,0,0.4);
}
.TrendingImg1:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.TrendingItem1{
    height:300px;
    width:100%;
    overflow:hidden;
    border-radius: 10px;
}
.TrendingItemDesc{
    position:absolute;
    bottom:0px;
    color:white;
    margin:8px;
}
.TrendingItem{
    position:relative;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.TrendingImg{
    width:250px;
    height:230px;
    object-fit: cover;
    border-radius: 10px;
}
.TrendingItem h4{
    font-size:16px;
    font-weight: 600;
    line-height: 24px;
}
.TrendingItem span{
    font-size:12px;
    font-weight: 400;
    line-height: 20px;
}
.TrendingItemDesc span{
    font-size: 14px;
    font-weight: 500;
}